.success-anim {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  font-size: 1.1em;
  animation: slideInRight 0.7s cubic-bezier(0.4, 1.4, 0.6, 1) both;
}

.checkmark {
  color: var(--success);
  font-size: 1.7em;
  font-weight: bold;
}

@keyframes slideInRight {
  0% {
    opacity: 0;
    transform: translateX(60px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.article-form {
  margin-top: 18px;
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 7px;
}

label {
  font-weight: 600;
  color: var(--main-color-dark);
  margin-bottom: 2px;
}

input[type="text"] {
  padding: 10px 12px;
  border: 1.5px solid var(--border-main);
  color: var(--text-main);
  border-radius: 6px;
  font-size: 1em;
  background: var(--bg-light);
  transition: border 0.15s;
}

input[type="text"]:focus {
  border: 1.5px solid var(--main-color);
  outline: none;
}

.btn-container {
  display: flex;
  gap: 12px;

  & button {
    flex: 1;
  }
}

.ql-editor {
  min-height: 220px;
  font-size: 1.08em;
  background: var(--bg-light);
  border-radius: 0 0 6px 6px;
  border: 1.5px solid var(--border-main);
  border-top: 0;
}

.ql-toolbar {
  border-radius: 6px 6px 0 0;
  border: 1.5px solid var(--border-main);
  background: var(--bg-grey);
}

.error-message {
  color: var(--danger);
  margin-top: 10px;
  font-weight: 500;
  background: var(--bg-danger);
  border-left: 4px solid var(--danger);
  padding: 8px 14px;
  border-radius: 4px;
}

.success-message {
  color: var(--success);
  margin-top: 10px;
  font-weight: 500;
  background: var(--bg-success);
  border-left: 4px solid var(--success);
  padding: 8px 14px;
  border-radius: 4px;
}

.required {
  color: var(--text-main);
  margin-left: 2px;
  font-size: 0.8em;
}

.ql-container.ql-snow {
  border: none;
}

.field-error {
  color: var(--danger);
  font-size: 0.9em;
  margin-top: 5px;
  margin-bottom: 0;
  font-weight: 500;
}

input.error {
  border: 1px solid var(--danger) !important;
}

.error .ql-editor {
  border: 1px solid var(--danger) !important;
}

.error .ql-toolbar {
  border: 1px solid var(--danger) !important;
}